a{
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
}

header .logo {
    /* We can add styling specifically for the logo here */
}

header .nav-links {
    /* And some styling for the navigation links here */
}

header .search {
    /* And finally some styling for the search functionality */
}
/* Large screens */
@media (min-width: 1200px) {
    #playlistGrid,
    #browseSection .genreGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    #playlistDetail .header {
        gap: 40px;
    }

    #playlistDetail .header img {
        width: 250px;
        height: 250px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    #playlistGrid,
    #browseSection .genreGrid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    #playlistDetail .header img {
        width: 200px;
        height: 200px;
    }
}

/* Small screens */
@media (max-width: 767px) {
    #playlistGrid,
    #browseSection .genreGrid {
        grid-template-columns: 1fr;
    }

    #playlistDetail .header {
        flex-direction: column;
        align-items: start;
    }

    #playlistDetail .header img {
        width: 100%;
    }
}
#featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #121212;
    color: white;
}

#featured .playlist-card {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    background-color: #282828;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}