a{
    text-decoration: none;
    color:white;
}
header {
    position: fixed;
    top: 0;
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
    padding: 20px;
    background-color: black;
    color: white;
}

header .logo {
width:100%;
margin-bottom: 40px;
}

header .menubar {
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-left: 30px;
}
header .menu{
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;
}
header .menu img{
    margin-right: 20px;
}

header .search {
    /* And finally some styling for the search functionality */
}
header .library
header>.library>a>img{
    background-color: white;
}
